*{
    margin: 0px;
    padding: 0px;
}
html{
    background-color: black;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(./images/tupian.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
ul{
    overflow: hidden;
}
li{
    list-style:none ;
}
#backg{
    width: 1200px;
    margin: auto;
}
header{
    text-align: center;
    color: white;
    overflow: hidden;
}
header .time{
    float: right;
}
.k{
    height: 60px;
}
.lzh_YG{
    text-align: center;
    margin-bottom: 20px;
}
.lzh_YG h3{
    color: aqua;
}
.lzh_YG p{
    color: rgba(137, 141, 145, 0.575);
    font-size: 9px;
}
.lzh_ZJ{
    overflow: hidden;
}
.L_ZJ{
    float: left;
    width: 150px;
    height: 150px;
}
.ZJ1{
    background-image: url(./image/zxh001.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ZJ2{
    background-image: url(./image/zxh002.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ZJ3{
    background-image: url(./image/zxh003.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ZJ4{
    background-image: url(./image/zxh004.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ZJ_P1{
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.ZJ_P2{
    margin-top: 20px;
    text-align: center;
    color: aqua;
    font-size: 33px;
    font-weight: 700;
}
.L_ZJ_p1{
    margin-top: 12px;
    color: aqua;
}
.L_ZJ_p2{
    margin-top: 7px;
    color: rgb(255, 213, 0);
    font-size: 22px;
}
main{
    overflow: hidden;
    margin-top: 20px;
}
.L_m1{
    float: left;
    width: 880px;
    overflow: hidden;
}
.L_m11{
    float: left;
    width: 480px;
}
.L_m12{
    float: left;
    width: 320px;
    margin: 0 40px;
}
.L_m13{
    float: left;
    width: 840px;
}
.b5d{
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
}
.b5{
    width: 400px;
    float: left;
    height: 50px;
    line-height: 50px;
    color: white;
}
.b6{
    float: left;
    width: 400px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    color: #fff;
}
.b5ds{
    color: yellow;
    font-size: 22px;
    font-weight: 700;
}
.m13{
    margin-top: 20px;
}
.b4{
    height: 300px;
}
.L_m2{
    float: left;
    width: 320px;
}
.text1{
    width: 300px;
    height: 30px;
    background-image: url(./images/back_02.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(0, 255, 255);
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.border{
    border: 1px cyan solid;
    margin: 2px;
}
.b1{
    height: 240px;
    padding-top: 20px;
}
.b2{
    height: 240px;
    padding-top: 20px;
}
.b3{
    padding-top: 20px;
}
.b3L{
    margin: 5px;
}
.b3T{
    color: white;
    font-weight: 700;
    text-align: center;
}
.liT{
    float: left;
    height: 40px;
    line-height: 40px;
}
.liT0{
    width: 50px;
}
.liT1{
    width: 100px;
}
.liT2{
    width: 75px;
}
.line1{
    margin: 0 20px;
    border-top: 2px aqua solid;
}
.b3N{
margin: auto;
}
.b3Nul{
    margin-top: 15px;
}
.liN{
    float: left;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.imgORnum{
    color: white;
    width: 50px;
}
.Name{
    color: white;
    width: 100px;
}
.Woli{
    color: rgb(190, 193, 196);
    width: 75px;
}
.SJ{
    width: 75px;
}
.line2{
    margin: 0 20px;
    border-top: 1px rgb(4, 171, 171) solid;
}