*{
    margin: 0px;
    padding: 0px;
}
html{
    background-color: black;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(./images/tupian.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#backg{
    width: 1200px;
    margin: auto;
}
header{
    text-align: center;
    color: white;
    overflow: hidden;
}
header .time{
    float: right;
}
.k{
    height: 60px;
}
.lzh_YG{
    text-align: center;
}
.lzh_YG h3{
    color: aqua;
}
.lzh_YG p{
    color: rgba(137, 141, 145, 0.575);
    font-size: 9px;
}
.lzh_ZJ{
    overflow: hidden;
}
.L_ZJ{
    float: left;
    width: 150px;
    height: 150px;
}
.ZJ1{
    background-image: url(./image/zxh001.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ZJ2{
    background-image: url(./image/zxh002.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ZJ3{
    background-image: url(./image/zxh003.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ZJ4{
    background-image: url(./image/zxh004.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ZJ_P1{
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.ZJ_P2{
    margin-top: 20px;
    text-align: center;
    color: aqua;
    font-size: 33px;
    font-weight: 700;
}
.L_ZJ_p1{
    margin-top: 12px;
    color: aqua;
}
.L_ZJ_p2{
    margin-top: 7px;
    color: rgb(255, 213, 0);
    font-size: 22px;
}